<header id="header">
    <nav id="menu" aria-label="Navigazione Principale">
        <ul class="navigazione"> 
            <li lang="en">
                {{link_home}}
            </li>
            <li>
                {{link_chisiamo}}
            </li>
            <li>
                {{link_contattaci}}
            </li>
            <li>
                {{link_gatti}}
            </li>
        </ul>
        <ul class="area_personale">
            <li>
                {{link_areapersonale}}
            </li>
        </ul>
    </nav>
</header>