<header id="header">
    <nav id="menu" aria-label="Navigazione Principale">
        <ul class="navigazione"> 
            <li lang="en">
                <a href="../../index.php">Home</a>
            </li>
            <li>
                <a href="chisiamo.php">Chi siamo</a>
            </li>
            <li>
                Contattaci
            </li>
            <li>
                <a href="cats_forum.php">Forum</a>
            </li>
             <li>
                <a href="cat_leaderboard.php">Cat Leaderboard</a>
            </li>
        </ul>
        <ul class="area_personale">
            <li>
                <a href="area_personale.php">Area Personale</a>
            </li>
        </ul>
    </nav>
</header>
