<header id="header">
    <nav id="menu" aria-label="Navigazione Principale">
        <ul class="navigazione"> 
            <li lang="en">
                Home
            </li>
            <li>
                <a href="/PHP/chisiamo.php">Chi siamo</a>
            </li>
            <li>
                <a href="/PHP/contacts.php">Contattaci</a>
            </li>
            <li>
                <a href="/PHP/cats_forum.php">Forum</a>
            </li>
             <li>
                <a href="/PHP/cat_leaderboard.php">Cat Leaderboard</a>
            </li>
        </ul>
        <ul class="area_personale">
            <li>
                <a href="/PHP/area_personale.php">Area Personale</a>
            </li>
        </ul>
    </nav>
</header>
